.container {
    height: 400px;
    width: 1350px;
    display: inline-block;
    align-items: center;
    padding: 50px 0 0 0;
}

.score {
    margin: 0px;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}

.circle {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    text-align: center;
    display: inline-block;
    margin: 10px;
    box-shadow: black;
    background: white;    
}

#a {
    background-color:#A2FFBA;
}
#b {
    background-color:#FF57FF;
}
#c {
    background-color: #EBE98A;
}
#d {
    background-color: #61EBE5;
}

button {
    margin: 30px;
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(252, 250, 247);
    font-family: 'Turret Road', cursive;
    font-size: 20px;
}